uvicorn
RabbitMQ

Flask-SocketIO==5.5.1
python-socketio==5.12.1
python-engineio==4.3.2

Flask[async]==2.3.2
psycopg2-binary==2.9.6
gunicorn
python-dotenv==1.0.0
flask-cors==4.0.0
flask-socketio[amqp]==5.5.1

eventlet==0.30.2
kombu==5.2.4

celery
openai
requests
asyncpg
httpx

pandas
numpy
